.searchmodal{
    background-color: rgba(0, 0, 0, 0.2);
    width: 100vw;
    height: 100vh;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position:fixed;
    
}
.searchmodal_centered{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.searchmodal_home {
    width: 400px;
    height: auto;
    background: white;
    /* color: white; */
    z-index: 1;
    border-radius: 16px;
    position: relative;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
  }

  .modal_list {
    padding: 10px;
    
  }

  .searchinputbox{
    margin: 15px;
    width: auto;
    display: flex;
    align-items: center;
    padding: 2px 16px;
    height: 36px;
    background-color: #efefef;
    border-radius: 8px;
  }

  .collection {
    width: 100%;
    margin: 10px;
    padding: 10px;
    display: inline;
    text-align: start;
  }

  .collection-item {
    display: flex;
    /* justify-content: center; */
    justify-items: center;
    align-items: center;
    margin-bottom: 15px;
    
  }
  .searchresultuser {
    display: flex;
    flex-direction: column;
  }
  .searchresultname, .searchresultemail{
    margin-left: 10px;
  }

  .searchresultemail {
    font-weight:600;
  }

  .searchresultname {
    font-size: medium;
    color: #8E8E8E;
  }
  